.create_card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 24%;
  border: 1px dashed;
  border-radius: 0.25rem;
}

@media (max-width: 500px) {
  .create_card {
    width: 100vw;
  }
}

.create_card_text{
  padding-left: 5px;
}
